## KUDAGO categories relation
Goal - to estimate relations between different kudago categories.

to do: Euler diagrams?, add other csv

In [2]:
#connection to google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
#read dataset
import pandas as pd
DATA = pd.read_csv("/content/drive/My Drive/Multi-scale events detection/kudago/403-497_clean.csv", delimiter=';', encoding='cp1251', error_bad_lines=False)

# First step: analyzing event tags

In [2]:
#cut the table
df = DATA[['Category', 'Event tag']]

In [3]:
#checking what kind of categories we have
df.groupby(['Category']).count()

                                               Event tag
Category
business-events                                        9
cinema                                                 7
cinema,concert,entertainment                           2
cinema,entertainment                                 103
cinema,festival,entertainment                         35
...                                                  ...
theater,tour                                           2
tour                                                 120
tour,entertainment                                     4
tour,recreation                                        2
yarmarki-razvlecheniya-yarmarki,entertainment         16

[192 rows x 1 columns]

Firstly, let's not use events of multiple categories

In [59]:
#checking how many events we have for each category
df_new = df[~df['Category'].str.contains(',')]
df_new.groupby(['Category']).count().head()

                 Event tag
Category
business-events          9
cinema                   7
concert               2384
education              482
entertainment          113

In [65]:
#concatenation of all tags for each category
df_grouped = df_new.groupby(['Category']).apply(lambda x: ','.join(x['Event tag']))
df_grouped.head()

Category
business-events    12+,события для бизнеса,события для бизнеса,со...
cinema             кинопоказы,12+,кино (развлечения),кино (развле...
concert            рэп и хип-хоп,концерты,16+,концерты,альтернати...
education          обучение,16+,лучшее,искусство,обучение,12+,рис...
entertainment      игры,развлечения,16+,шоу,лучшее в театрах,разв...
dtype: object

In [71]:
#We want to know which tags (rows) were used for which categories (columns) and how many times (data in cells)
#To do it we create DataFrame from the dict of subdicts: one subdict for one category, each subdict maps tag to number of tag's usages 
dict_lists = dict()
for index in df_grouped.index:
  temp = df_grouped.get(index).rsplit(',')
  one_dict = {i:temp.count(i) for i in temp}
  dict_lists[index]=(one_dict)

In [88]:
df_final = pd.DataFrame(dict_lists).fillna(0)
df_final.sort_index()

               business-events  cinema  concert  ...  stock  theater  tour
 аксессуары                0.0     0.0      0.0  ...    0.0      0.0   0.0
 графика                   0.0     0.0      0.0  ...    0.0      0.0   0.0
 живопись                  0.0     0.0      0.0  ...    0.0      0.0   0.0
 иллюзионисты              0.0     0.0      0.0  ...    0.0      0.0   0.0
 иллюстрация               0.0     0.0      0.0  ...    0.0      0.0   0.0
...                        ...     ...      ...  ...    ...      ...   ...
это лето                   0.0     0.0      0.0  ...    0.0      0.0   1.0
юбилей                     0.0     0.0      0.0  ...    0.0      1.0   0.0
юмористы                   0.0     0.0      1.0  ...    0.0      0.0   0.0
я в домике                 0.0     0.0      0.0  ...    0.0      0.0   2.0
языки                      0.0     0.0      0.0  ...    0.0      0.0   0.0

[461 rows x 18 columns]

'12+,события для бизнеса,события для бизнеса,события для бизнеса,18+,события для бизнеса,18+,события для бизнеса,free,16+,12+,события для бизнеса,free,события для бизнеса,18+,события для бизнеса,16+,события для бизнеса,16+'